/config.json
/config.json.bak
/config - prod.json
/jsonBatchVouchers
/xmlBatchVouchers
/mark_paid_log.log
/voucher_export_log.log
/mark_paid.py
/.idea
/voucherIdentifiers
/postResults
/Logs
/exe_build
/VoucherExport.spec
/__pycache__
/install_dependancies.bat
/update_voucher_export.bat
/Voucher-Export.code-workspace